<!DOCTYPE html>
<html lang="en">
<head>
    <script src="main1.js" ></script>
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align:center;
        }
    </style>
</head>
<body>
<table style="width:100%;height:100%;font-size: 100px;border: 1px solid black;" id="table_tag">
    <tr>
        <th>#</th>
        <th>Token</th>
        <th>#</th>
        <th>Token</th>
    </tr>
    <tr>
        <td id="cabin1">1</td>
        <td id="token1"></td>
        <td id="cabin5">5</td>
        <td id="token5"></td>
    </tr>
    <tr>
        <td id="cabin2">2</td>
        <td id="token2">22</td>
        <td id="cabin6">6</td>
        <td id="token6"></td>
    </tr>
    <tr>
        <td id="cabin3">3</td>
        <td id="token3"></td>
        <td id="cabin7">7</td>
        <td id="token7"></td>
    </tr>
    <tr>
        <td id="cabin4">4</td>
        <td id="token4"></td>
    </tr>

</table>
</body>
</html>